.header {
    padding: 10px 10px 2px;
    font-size: 50pt;
    font-weight: 900;
}

#date {
    font-size: 32pt;
}

#time {
    margin-left:5%;
    font-size: 32pt;
}

#connect-button {
    margin: 3%;
    font-size: 16pt;
    
}
.description{
    margin-top: 10%;
    color:grey;
    font-size: larger;
}
