.header {
    padding: 10px 10px 2px;
    font-size: 50pt;
    font-weight: 900;
}

#date {
    color: lightcoral;
    font-family: 'sans-serif', 'Lucida Sans Unicode', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 50pt;
}

#time {
    color: deepskyblue;
    font-family: 'Segoe UI';
    font-weight: 900;
    margin-left:5%;
    font-size: 45pt;
}

#connect-button {
    margin: 3%;
    font-size: 16pt;
    
}
.description{
    margin-top: 10%;
    color:grey;
    font-size: larger;
}
